footer {
    background-image: url("../assets/img/background.png");
    padding-top: 3rem;
    padding-bottom: 3rem;
    .texto__footer {
        color: map-get($paletaDeColores, naranjaClaro);
        font-family: $fuentePrincipal;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        padding-top: 0.8rem;
        font-size: 2rem;
    }

    .link {
        color: map-get($paletaDeColores, verdeOscuro);
        font-family: $fuentePrincipal;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        padding-bottom: 0.3rem;
        &:hover {
            color: map-get($paletaDeColores, naranjaChillon);
        }
    }
    
    a {
        align-self: center;
    }

    .img-footer {
        width: auto;
        height: 100px;
        align-self: center;
    }

    .footer__redes {
        padding: 2rem;
    }

    .copy {
        color: map-get($paletaDeColores, verdeOscuro);
        font-family: $fuentePrincipal;
        font-size: 1rem;
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {
    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 5rem;
        .footer__contacto {
            display: flex;
            flex-direction: column;
            padding-left: 10rem;
        }
        .footer__rrss {
            display: flex;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer__contacto {
            display: flex;
            flex-direction: column;
        }
        .footer__rrss {
            display: flex;
            flex-direction: column;
        }
    }
}
