footer {
    background-image: url("../assets/img/background.png");
    padding-top: 3rem;
    padding-bottom: 3rem;
    .texto__footer {
        color: $naranjaChillon;
        font-family: $fuentePrincipal;
        font-weight: bold;
    }
    .footer__redes {
        padding: 2rem;
    }
}
