header {
    background-color: map-get($paletaDeColores, colorFondo);
    font-family: $fuentePrincipal;
    .navbar-light .navbar-nav .active>.nav-link {
        color: map-get($paletaDeColores, naranjaOscuro);
        &:hover {
            color: map-get($paletaDeColores, azulOscuro);
            background-color: map-get($paletaDeColores, beige);
        }
    }
    .navbar-light .navbar-nav .nav-link{
        color: map-get($paletaDeColores, naranjaClaro);
        &:hover {
            color: map-get($paletaDeColores, azulOscuro);
            background-color: map-get($paletaDeColores, beige);
        }
    }
}
