.main__index {
    background-color: map-get($paletaDeColores, colorFondo);
    .titulo {
        color: map-get($paletaDeColores, verdeOscuro);
        font-family: $fuentePrincipal;
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: 5px;
        padding-top: 0.5rem;
        padding-bottom: 0.3rem;
    }
    .informacion {
        color: map-get($paletaDeColores, blanco);
        &:hover {
            color: map-get($paletaDeColores, blanco);
            font-weight: bold;
        }
    }

    .texto__index {
        color: map-get($paletaDeColores, verdeClaro);
        font-family: $fuentePrincipal;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .link {
        color: map-get($paletaDeColores, verdeOscuro);
        font-family: $fuentePrincipal;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        padding-bottom: 0.3rem;
        &:hover {
            color: map-get($paletaDeColores, naranjaChillon);
        }
    }
}