$fuentePrincipal: 'DM Sans', sans-serif;

$paletaDeColores: (
    colorFondo: #EEEEEE,
    naranjaClaro: #FF7F3F,
    naranjaOscuro: #C84B31,
    naranjaChillon: #EA5C2B,
    verdeClaro: #66806A,
    verdeOscuro: #184D47,
    beige: #FFC286,
    azulOscuro: #081b19,
    crema: #F3F0D7,
    blanco: white,
);